.idea/
/application-backend/node_modules
/application-backend/test-requests.http
/application-frontend/node_modules
/application-microservices/data-decryption-microservice/node_modules
/application-microservices/data-encryption-microservice/node_modules
/application-microservices/password-generator-microservice/node_modules
/application-microservices/password-hash-microservice/node_modules
/application-microservices/search-database-microservice/node_modules
/application-microservices/two-factor-authentication-code-microservice/node_modules
/application-microservices/two-factor-validation-microservice/node_modules
/application-microservices/user-login-microservice/node_modules
/application-microservices/jwt-microservice/node_modules

