/application-backend/node_modules
/application-backend/package-lock.json
/application-backend/test-requests.http
/application-frontend/node_modules
/application-frontend/package-lock.json
/application-microservices/data-decryption-microservice/node_modules
/application-microservices/data-decryption-microservice/package-lock.json
/application-microservices/data-encryption-microservice/node_modules
/application-microservices/data-encryption-microservice/package-lock.json
/application-microservices/password-generator-microservice/node_modules
/application-microservices/password-generator-microservice/package-lock.json
/application-microservices/password-generator-microservice/package-lock.json
/application-microservices/password-hash-microservice/node_modules
/application-microservices/password-hash-microservice/package-lock.json
/application-microservices/search-database-microservice/node_modules
/application-microservices/search-database-microservice/package-lock.json
/application-microservices/two-factor-authentication-code-microservice/node_modules
/application-microservices/two-factor-authentication-code-microservice/package-lock.json
/application-microservices/two-factor-validation-microservice/node_modules
/application-microservices/two-factor-validation-microservice/package-lock.json
/application-microservices/user-login-microservice/node_modules
/application-microservices/user-login-microservice/package-lock.json
/application-microservices/middlewares/node_modules
/application-microservices/middlewares/package-lock.json
/application-microservices/jwt-microservice/node_modules
/application-microservices/jwt-microservice/package-lock.json
database/db-connector.js
/.idea
16NovHMAC.db
18NovEncryptedIV.db
enhancedCookieSecurity.db
localhost.pem
modinstall.sh
reverseCredSwitchtoAustin

