* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation buttons */
nav button {
  background-color: #444;
  color: #eee;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-left: 10px;

}

nav button:hover {
  background-color: #555;
}

/* Search bar styles */
form {
  position: relative;
}

form input[type="search"] {
  padding: 8px;
  padding-left: 70px; 
  border: 2px solid #555;
  border-radius: 15px;
  font-size: 1rem;
}

form button[type="submit"] {
  position: relative;
  margin: 20px auto 0;
  left: 10px;
  top: 80%;
  transform: translateY(-50%);
  border: none;
  width: 100px; 
  height: 30px;
  cursor: pointer;
  background-color: #555;
  color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  color: #444;
}

nav a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a, .dropbtn {
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav a:hover, .dropbtn:hover {
  background-color: #555;
  color: white;
}

div {
  padding: 20px;
  padding-bottom: 40px; 
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #333; 
  border-bottom: 2px solid #aaa;
  padding-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.7;
  color: #555;
}

/* Sections and headers */
h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #444;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

section {
  margin-top: 40px;
}

/* Lists */
ul {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: .9rem;
}

li {
  font-size: .9rem;
  margin-bottom: 2.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #555;
  color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #444;
}

/* Links */
Link, a {
  color: #eee;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #333;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

Link:hover, a:hover {
  background-color: #444;
}


html, body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5; 
  color: #333; 
  overflow-x: hidden; 
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

nav {
  background-color: #333;
  
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none; 
  padding: 15px 20px; 
  display: block; 
}

nav a:hover,
nav a:focus {
  background-color: #555; 
}

.App-header {
  background-color: #282c34;
  padding: 40px 0; 
  text-align: center;
  color: white;
}

.App-header a {
  color: #61dafb; 
}

main {
  flex: 1;
  margin: 20px 0; 
  padding: 20px; 
  background: white; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
  html {
    font-size: 14px; 
  }

  nav ul {
    flex-direction: column;
    align-items: center; 
    
  }

  .App, main {
    padding: 0 10px;
  }

  .App-header {
    padding: 20px 0; 
  }
}

.App-footer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px 10px;
  background-color: #282c34;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px; 
}


.login-container {
  max-width: 750px;
  margin: 20px auto; 
  padding: 10px; 
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-form {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  display: block;
  padding: auto;
}


.input-group {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-bottom: 0px; 
}

.input-group label {
  flex-basis: 15%;
  text-align: right;
  margin-right: 5px; 
}

.input-group input {
  flex-grow: 1; 
  margin-right: 5px;
  padding: 4px; 
  width: 30%;
}


.input-group p {
  color: #ff0000; 
  font-size: 0.9rem; 
}


.action-button {
  margin-left: 0;
}

.create-account-button-container {
  display: flex;
  justify-content: center;
  margin-top: 75px; 
  margin-bottom: 20px;
}

.create-account-button {
  margin: 0 auto; 
  display: block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff; 
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-account-button:hover {
  background-color: #000000; 
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.submit-button {
  width: 100%;
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-button {
  margin-left: auto; /* This will push the button to the right */
}

.login-button {
  display: block;
  margin: 0 auto;
  width: 140px;
}

/* Styles for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: .9rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: .9rem;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #555;
  color: white;
  padding: 15px 20px;
  font-size: .9rem;
  border: none;
  cursor: pointer;
  text-decoration: none; 
  display: inline-block; 
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #555;
}